@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
  background-color: #f5eadf;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  background-color: whitesmoke;
  color: #CA9D9D;
  display: flex;
  flex-wrap: wrap;
  font-size: 5vw;
  height: 40vw;
  padding: 3px;
  text-align: center;
  width: 40vw;
}

.grid div {
  height: 10.5%;
  width: 10.5%;
  margin: 1%;
}

.info {
  width: 45vw;
}

.color {
  background-size: cover;
  background-repeat: no-repeat;
}

.color img {
  height: 100%;
  width: 100%;
}

#instructions {
  color: #CA9D9D;
  font-size: 2.5vw;
  letter-spacing: 2px;
  margin: auto;
  text-align: center;
  width: 78%;
}

#score {
  color: whitesmoke;
  font-size: 6vw;
  font-weight: bolder;
}

#score-board {
  background-color: #aec0cf;
  border-radius: 50%;
  height: 15vw;
  line-height: 15vw;
  left: 35%;
  margin-top: -5%;
  position: relative;
  text-align: center;
  width: 15vw;
}

#play-again {
  background-color: #CA9D9D;
  color: whitesmoke;
  border-radius: 5px;
  display: none;
}